# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  workflow_run:
    workflows: ["Terraform CI"]
    types:
      - completed
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'requirements.txt'
      - '.github/workflows/python-app.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'requirements.txt'
      - '.github/workflows/python-app.yml'

permissions:
  contents: read

jobs:
  build:
    if: github.event.workflow_run.conclusion == 'success' || github.event_name != 'workflow_run'
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest and coverage
      run: |
        pytest --cov=src --cov-report=term-missing --cov-fail-under=80
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.organization=kavindacse
          -Dsonar.projectKey=KavindaCSE_CI-CD-GA

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push to Docker Hub
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./src/Dockerfile
        push: true
        tags: kavindasamarawickkrama2001/ci-cd-practice:build-${{ github.run_number }}